<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Contact:</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
          {% if site.youtube_channel %}
          <a href="https://youtube.com/user/{{ site.youtube_channel }}">
            <i class="fa fa-youtube"></i>
          </a>
          {% endif %}
          &nbsp;&nbsp;&nbsp;
          {% if site.instagram_page %}
          <a href="https://www.instagram.com/{{ site.instagram_page }}">
            <i class="fa fa-instagram"></i>
          </a>
          {% endif %}
          &nbsp;&nbsp;&nbsp;
          {% if site.facebook_page %}
          <a href="https://www.facebook.com/{{ site.facebook_page }}">
            <i class="fa fa-facebook"></i>
          </a>
          {% endif %}
        
      </div>

    </div>

  </div>

</footer>
